<template>
	<div class="column col-8 col-md-12 col-mx-auto add_new">
		<h1 class="text-center p-relative">Fill out form to add new user</h1>
		<Form/>
	</div>
</template>
<script>
	import Form from '@/components/Form.vue'

	export default {
		name: 'AddNew',
		components: {
			Form
		}
	}
	
</script>
