<template>
	<div class="home column col-12">
		<ListData/> 
	</div>
</template>

<script>
// @ is an alias to /src
import ListData from '@/components/ListData.vue'
import { mapActions } from 'vuex'
export default {
	name: 'home',
	components: {
		ListData
	},
	methods:{
		...mapActions(['checkToken'])
	}
}
</script>
