<template>
	<div v-if="loggedIn === false" class="column col-8 col-md-12 col-mx-auto login">
		<h1 class="text-center">Login</h1>
		<transition appear name="fade">
			<form class="form-horizontal add_user_form" @submit.prevent="login">
				<div class="form-group">
					<div class="col-3 col-md-12">
						<label class="form-label" for="nickname">Nickname</label>
					</div>
					<div class="col-9 col-md-12">
						<input class="form-input" type="text" name="nickname" placeholder="Nickname" required v-model="userData.nickname">
					</div>
				</div>
				<div class="form-group">
					<div class="col-3 col-md-12">
						<label class="form-label" for="money">Password</label>
					</div>
					<div class="col-9 col-md-12">
						<input class="form-input" type="password" name="pwd"  placeholder="Password" required v-model="userData.password">
					</div>
				</div>
				<div class="form-group submit_cnt">
					<button type="submit" class="btn btn-lg btn-primary"><log :width="24"/></button>
				</div>
			</form>
		</transition>
	</div>
	<div v-else class="column col-8 col-md-12 col-mx-auto login">
		<h1 class="text-center">
			You are already logged in <br>
			<router-link to="/" title="Clients">Go home</router-link>
		</h1>
	</div>
</template>
<script>
	import { mapState, mapMutations } from 'vuex'
	import log from '../components/icons/log.vue'
	export default {
		name: 'Login',
		components: {
			log
		},
		data(){
			return{
				userData: {}
			}
		},
		computed: mapState(['loggedIn']),
		methods: {
			...mapMutations(['setusername', 'setemail', 'settoken', 'loggin', 'settokenexpiration']),
			async login(){
				this.loading = !this.loading
				const url = 'https://api.potatosites.com/user'
				let options = {
						method: 'POST',
						headers: {
							'Authorization': 'Bearer ' + this.token,
							'Content-type': 'application/json'
						},
						body: JSON.stringify(this.userData)
					},
					req = new Request(url, options),
					response
				try {
					response = await fetch(req)
					if(response.ok){
						response = await response.json()
						// notify if user was added or not 
						if(response.st){
							this.setusername(response.username)
							// this.setemail(response.email)
							this.settoken(response.token)
							this.settokenexpiration(response.exp)
							this.loggin()
							localStorage.setItem('username', response.username)
							localStorage.setItem('token', response.token)
							localStorage.setItem('token_expiration', response.exp)
							this.$router.push('/')
						} 
						if(response.error) this.$toast.error(response.error)
					}else{
						this.$toast.error(response.statusText)
					}
				}catch(e){
					this.$toast.error(e.message)
				} 
	
			}
		}
	}

</script>
<style scoped lang="scss">
.fade-enter-active, .fade-leave-active{
	transition: all 0.6s $timing_f;
}
.fade-enter, .fade-leave-to{
	transform: scaleX(0.96) scaleY(0.98);
	opacity: 0;
}
</style>