<template>
	<div v-if="loggedIn === false" class="column col-8 col-md-12 col-mx-auto sing_up">
		<h1 class="text-center">Sing Up</h1>
		<transition appear name="fade">
			<form class="form-horizontal add_user_form" @submit.prevent="singup">
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="nickname">Nickname</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="text" name="nickname" placeholder="Nickname" required v-model="userData.nickname">
				</div>
			</div>
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="nickname">Email</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="text" name="Email" placeholder="Email" required v-model="userData.email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="money">Password</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="password" name="pwd"  placeholder="Password" required v-model="userData.password" minlength="6">
				</div>
			</div>
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="money">Confirm password</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="password" name="pwd"  placeholder="Confirm password" required v-model="userData.password2" minlength="6">
				</div>
			</div>
			<div class="form-group mb-1">
				<div class="col-12 recaptcha_cnt">
					<vue-recaptcha
						ref="recaptcha"
						:sitekey="sitekey"
						@verify="onVerify"
						@expired="onVerify"
						:loadRecaptchaScript="true" theme="dark">
					</vue-recaptcha>
					<div class="message" ref="catch_message">Please confirm that you are not a robot</div>
				</div>
			</div>
			<div class="form-group submit_cnt">
				<button type="submit" class="btn btn-lg btn-primary">Sing up</button>
			</div>
		</form>
		</transition>
	</div>
	<div v-else class="column col-8 col-md-12 col-mx-auto sing_up">
		<h1 class="text-center">
			You are already registered <br>
			<router-link to="/" title="Clients">Go home</router-link>
		</h1>
	</div>
</template>
<script>
	import { mapState, mapMutations } from 'vuex'
	import VueRecaptcha from 'vue-recaptcha'
	import mail from '@/mail.js'

	export default {
		name: 'SingUp',
		components:{
			VueRecaptcha
		},
		data(){
			return{
				userData: {},
				sitekey: '6LfPmLkUAAAAAD1kruNsG7Tyipp0wADM6nSFZ9rN',
				verify: false
			}
		},
		computed: mapState(['loggedIn']),
		methods:{
			...mapMutations(['setusername', 'setemail', 'settoken', 'loggin', 'settokenexpiration']),
			async singup(){
				this.showHideError()
				if(this.verify){
					if((this.userData.password === this.userData.password2) && this.userData.password != ''){
						this.userData.nickname = this.userData.nickname.trim()
						this.userData.email = this.userData.email.toLowerCase().trim()
						const url = 'https://api.potatosites.com/singup'
						let options = {
								method: 'POST',
								headers: {
									'Content-type': 'application/json'
								},
								body: JSON.stringify(this.userData)
							},
							req = new Request(url, options),
							response
						try {
							response = await fetch(req)
							if(response.ok){
								response = await response.json()
								// notify if user was added or not 
								if(response.st){
									this.setusername(response.username)
									this.setemail(response.email)
									this.settoken(response.token)
									this.settokenexpiration(response.exp)
									this.loggin()
									localStorage.setItem('username', response.username)
									localStorage.setItem('token', response.token)
									localStorage.setItem('token_expiration', response.exp)
									mail.to(response.username, response.email)
									this.$router.push("/")
								} 
								if(response.error) this.$toast.error(response.error)
							}else{
								this.$toast.error(response.stausText)
							}

						}catch(e){
							this.$toast.error(e.message)
						} 
					}else{
						this.$toast.error('Passwords do not match')
					}
				}
			},
			onVerify(res){
				if(res){
					this.verify = true
				}else{
					this.verify = false
				}
				this.showHideError()
			},
			showHideError(){
				//show hide capcha error message start
				if(this.verify === false){
					this.$refs.catch_message.classList.add('fill_capcha')
				}else{
					this.$refs.catch_message.classList.remove('fill_capcha')
				}
				//show hide capcha error message end
			}
		}
	}

</script>
<style scoped lang="scss">
.fade-enter-active, .fade-leave-active{
	transition: all 0.6s $timing_f;
}
.fade-enter, .fade-leave-to{
	transform: scaleX(0.96) scaleY(0.98);
	opacity: 0;
}
.recaptcha_cnt{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	>.message{
		flex: 1 0 100%;
		text-align: right;
		font-size: 0.7rem;
	}
}
.recaptcha_cnt > .message{
	transition: opacity 0.2s $timing_f;
	opacity: 0;
	color: #ff6003;
}
.recaptcha_cnt > .fill_capcha{
	opacity: 1;
}
</style>