<template>
	<transition appear name="fade">
		<form class="form-horizontal add_user_form" @submit.prevent="addNewUser">
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="nickname">Nickname</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="text" name="nickname" placeholder="Nickname" required v-model="clientData.nickname">
				</div>
			</div>
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="email">Email</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="Email" name="email" placeholder="Email" required v-model="clientData.email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-3 col-md-12">
					<label class="form-label" for="money">Money amount</label>
				</div>
				<div class="col-9 col-md-12">
					<input class="form-input" type="number" name="money" placeholder="Money amount" min="0" required value="0" step="0.0001" v-model="clientData.money">
				</div>
			</div>
			<div class="form-group text-right submit_cnt">
				<button type="submit" class="btn btn-primary btn-lg btn-action" v-bind:class="{'loading': loading}"><plus :width="24"/></button>
			</div>
		</form>
	</transition>
</template>
<script>
import { mapState } from 'vuex'
import plus from './icons/plus.vue'

function getFormData(){
	return{
		nickname: '',
		email: '',
		money: 0
	}
}
export default {
	name: 'Form',
	components:{
		plus
	},
	data(){
		return {
			clientData: getFormData(),
			loading: false
		}
	},
	computed:{
		...mapState([
			'loggedIn',
			'token'
		])
	},
	methods: {
		async addNewUser(){
			this.loading = !this.loading
			this.clientData.nickname = this.clientData.nickname.trim()
			this.clientData.email = this.clientData.email.toLowerCase().trim()
			const url = 'https://api.potatosites.com/add/client'
			let options = {
					method: 'POST',
					headers: {
						'Authorization': 'Bearer ' + this.token,
						'Content-type': 'application/json'
					},
					body: JSON.stringify(this.clientData)
				},
				req = new Request(url, options),
				response
			try {
				response = await fetch(req)
				if(response.ok){
					response = await response.json()
					// notify if user was added or not 
					if(response.st) this.$toast.success(response.st)
					if(response.error) this.$toast.error(response.error)
				}
				if(response.status === 401){
					this.$toast.error('Only authorized users can add clients')
				}
				this.toggleBtnLoader()
			}catch(e){
				this.toggleBtnLoader()
				this.$toast.error(e.message)
			}
		},
		toggleBtnLoader(){
			setTimeout(() => {
				this.loading = !this.loading
				this.clientData = getFormData()
			}, 400)	
		} 
	}
}
</script>
<style scoped lang="scss">
label.form-label{
	text-align: left;
}
.fade-enter-active, .fade-leave-active{
	transition: all 0.6s $timing_f;
}
.fade-enter, .fade-leave-to{
	transform: scaleX(0.96) scaleY(0.98);
	opacity: 0;
}
</style>