<template>
	<div class="list_cnt">
		<div class="col-12">
			<p>Sort by:</p>
		</div>
		<div class="col-12">
			<div class="btn-group btn-group-block sorting_block">
				<button @click="doFetch(`https://api.potatosites.com/clients/${page}/new`)" data-sorting="new" class="btn btn-primary btn-sm sorting_block__btn" 
					:class="sortingType === 'new' ? 'active' : ''">
						New
				</button>
				<button @click="doFetch(`https://api.potatosites.com/clients/${page}/old`)" data-sorting="old"  class="btn btn-primary btn-sm sorting_block__btn" 
					:class="sortingType === 'old' ? 'active' : ''">Old</button>
				<button @click="doFetch(`https://api.potatosites.com/clients/${page}/ballance-lowest`)" data-sorting="ballance-lowest" class="btn btn-primary btn-sm sorting_block__btn" 
					:class="sortingType === 'ballance-lowest' ? 'active' : ''">
						Lowest ballance
				</button>
				<button @click="doFetch(`https://api.potatosites.com/clients/${page}/ballance-highest`)" data-sorting="ballance-highest" class="btn btn-primary btn-sm sorting_block__btn" 
					:class="sortingType === 'ballance-highest' ? 'active' : ''">
						Highest ballance
				</button>
			</div> 	
		</div>
		<div id="scrollbar_cnt">
			<transition name="fade" v-on:after-enter="afterEnter">
				<div v-if="clientsArr.clients && clientsArr.clients.length !== 0 && !loading" class="table_wrapper">
					<table class="table">
						<thead>
							<tr>
								<th>User id</th>
								<th>Nickname</th>
								<th>Email</th>
								<th>Ballance</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody class="table_list">
							<tr v-for="client in clientsArr.clients" :key="client.id" :data-id="client.id">
								<td @click="focusItem" class="table_item"><span class="table_item__badge">{{client.id}}</span></td>
								<td @click="focusItem" class="table_item" :data-nick="client.nick">{{client.nick}}</td>
								<td @click="focusItem" class="table_item" :data-email="client.email">{{client.email}}</td>
								<td @click="focusItem" class="table_item" :data-money="client.ballance">{{client.ballance + '$'}}</td>
								<td @click="focusItem" class="table_item">
									<div class="btns_cnt">
										<button class="btn btn-sm btn-error mr-2" @click.prevent="openCloseModal('remove_user_modal')" @click="updateModalId">
											<remove :width="24"/>
										</button>
										<button class="btn btn-sm btn-primary update_modal_trigger" @click="openCloseModal('update_user_modal')">
											<update :width="24"/>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</transition>
		</div>
		<transition name="quick-fade">
			<div v-if="loading" class="loading_cnt">
				<div class="loading loading-lg"></div>
			</div>
		</transition>

		<Pagination 
			v-if="clientsArr.pages" 
			:currentPage="Number(clientsArr.pages.current_page)" 
			:totalPages="Number(clientsArr.pages.total_pages)"
			:sortingType="sortingType"/>

		<UpdateClientModal 
			:clientId="clientId"  
			:clientNick="clientNick" 
			:clientEmail="clientEmail" 
			:clientBal="clientBal"/>

		<div class="modal modal-sm" id="remove_user_modal">
			<a href="#close" class="modal-overlay" aria-label="Close" @click.prevent="openCloseModal('remove_user_modal')"></a>
			<div class="modal-container delete_user_modal p-relative">
				<img :src="require('@/assets/delet_leave.png')">
				<div class="modal-header">
					<a class="btn btn-clear float-right" href="#close" aria-label="Close" @click.prevent="openCloseModal('remove_user_modal')"></a>
					<div class="modal-title"><h3 class="m-0">Do you want to remove user?</h3></div>
				</div>
				<div class="modal-footer pt-0">
					<button class="btn btn-error mr-2" @click="removeUser" id="remove">Yes</button>
					<button class="btn btn-primary" @click.prevent="openCloseModal('remove_user_modal')">No</button>
				</div>
			</div>
		</div>
	</div>

</template>

<script>

import UpdateClientModal from '@/components/UpdateClientModal.vue'
import Pagination from '@/components/Pagination.vue'
import remove from './icons/remove.vue'
import update from './icons/update.vue'
import Scrollbar from 'smooth-scrollbar'
import { mapState } from 'vuex'

export default {
	name: 'ListData',
	components: {
		UpdateClientModal,
		Pagination,
		remove,
		update
	},
	data(){
		return {
			clientsArr: [],
			loading: true,
			loadingBtn: false,
			clientId: null,
			clientNick: null,
			clientEmail: null,
			clientBal: null,
			sortingType: 'new',
			sitekey: '6LfPmLkUAAAAAD1kruNsG7Tyipp0wADM6nSFZ9rN',
			verify: false,
			scrollbar: null,
			clientScrollBar: null
		}
	},
	computed: {
		...mapState([
			'loggedIn',
			'token',
			'page'
		])
	},
	methods: {
		async doFetch(url){
			if(event && event.target && event.target.classList.contains('sorting_block__btn')){
				let btns = document.querySelectorAll('.sorting_block > button')
				btns.forEach((button)=>{
					button.classList.remove('active')
				})
				this.sortingType = event.target.getAttribute('data-sorting')
			} 
			this.loading = true
			let options = {
				method: 'GET'
			},
			req = new Request(url, options),
			response
			
			try {
				response = await fetch(req)
				this.clientsArr = await response.json()
				this.loading = false
				
			}catch(e){
				this.clientsArr = e.message
				this.loading = false
			}
			
		},
		async removeUser(e){
			//toggle btn loading spinner
			this.loadingBtn = !this.loadingBtn
			let btnRemove = e.target.closest(".btn-error"), 
			id = e.target.closest("[data-id]").getAttribute("data-id")
			btnRemove.classList.add('loading')

			const url = 'https://api.potatosites.com/remove/client/' + id
			let options = {
				method: 'DELETE',
				headers: {
					'Authorization': 'Bearer ' + this.token
				}
			},
			req = new Request(url, options),
			response

			try {
				let userList = document.querySelector('.table_list')
				response = await fetch(req)
				if(response.ok){
					response = await response.json()
					// notify if user was added or not 
					if(response.st){
						this.$toast.success(response.st)
						userList.removeChild(document.querySelector('tr[data-id="' + id + '"]'))
					}
					if(response.error) this.$toast.error(response.error)
				}
				if(response.status == 401){
					this.$toast.error('Only authorized users can remove clients')
				}
				this.toggleBtnLoader(btnRemove, id)         
			}catch(e){
				this.toggleBtnLoader(btnRemove, id) 
				this.$toast.error(e.message)
			}

		},
		openCloseModal(modalEl){
			document.getElementById(modalEl).classList.toggle('active')
			if(modalEl === 'update_user_modal' && event.target.classList.contains('update_modal_trigger')){
				if(event){
					let id = event.target.closest("[data-id]").getAttribute("data-id"),
					tableRow = document.querySelector('[data-id="' + id + '"]'),
					nick = tableRow.querySelector("[data-nick]").getAttribute("data-nick"),
					email = tableRow.querySelector("[data-email]").getAttribute("data-email"),
					money = tableRow.querySelector("[data-money]").getAttribute("data-money")
					this.clientId = id
					this.clientNick = nick
					this.clientEmail = email
					this.clientBal = money
					this.clientScrollBar.update()
				}
			}
		},
		updateModalId(e){
			let removeBtn = document.getElementById('remove'),
			id = e.target.closest("[data-id]").getAttribute("data-id")
			removeBtn.disabled = false
			removeBtn.setAttribute('data-id', id)
			document.querySelector('#remove_user_modal .modal-title h3').innerText = `Do you want to remove user with id "${id}"?`
		},
		focusItem(e){
			if(e.target.classList.contains('table_item')) e.target.parentNode.classList.toggle('focused_table_item')
		},
		toggleBtnLoader(btn, id){
			setTimeout(() => {
				if(id){
					btn.classList.remove('loading')
					btn.disabled = true
					this.openCloseModal('remove_user_modal')
				}
				this.loadingBtn = !this.loadingBtn
			}, 250) 
		},
		afterEnter(){
			this.scrollbar.update()
		}

	},
	created: function(){
		this.doFetch(`https://api.potatosites.com/clients/${this.page}/${this.sortingType}`)
	},
	mounted(){
		this.scrollbar = Scrollbar.init(document.querySelector('#scrollbar_cnt'), {
			alwaysShowTracks: true
		});
		//init updateClientModal.vue scroll bar start
		this.clientScrollBar = Scrollbar.init(document.querySelector('#client_scroll_bar'), {
			alwaysShowTracks: true
		});
		//init updateClientModal.vue scroll bar end
	},
	updated(){
		this.$parent.checkToken()
	}
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#scrollbar_cnt{
	width: 100%;
	min-height: 1088px;
	overflow: auto;
}
.sorting_block{
	margin-bottom: 1rem;
}
.list_cnt{
	position: relative;
	.table{
		padding-top: 1rem;
	}
}
.table_wrapper{
	min-width: 600px;
}
.table{
	thead, tbody{
		width: 100%;
	}
	th{
		white-space: nowrap;
		border: 0;
		&:last-child{
			text-align: right;
		}
	}
	td, th{
		border: 0;
	}
} 
.table_item{
	font-weight: 600;
	&__badge{
		text-align: center;
		display: inline-block;
		height: 28px;
		min-width: 28px;
		padding: 2px;
		background-color: $green;
		color: darken($dark-gray, 8);
		border-radius: 25px;
	}
}
.btns_cnt{
	display: flex;
	justify-content: flex-end;
	pointer-events: none;
	>button{
		pointer-events: auto;
	}
}
.focused_table_item{
	background-color: darken($dark-gray, 8);
}
.loading_cnt{
	position: absolute;
	width: 100%;
	top: 250px;
	left: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(50%);
}
.quick-fade-enter-active, .quick-fade-leave-active{
	transition: all 0.4s $timing_f;
}
.quick-fade-enter, .quick-fade-leave-to{
	opacity: 0;
}
.fade-enter-active, .fade-leave-active{
	transition: all 0.6s $timing_f;
}
.fade-enter, .fade-leave-to{
	transform: scaleX(0.96) scaleY(0.98);
	opacity: 0;
}
.modal.modal-sm .modal-container{
	max-width: 350px;
}
.delete_user_modal > img{
	position: absolute;
	right: 0;
	opacity: 0;
	top: 0;
	z-index: -10;
	pointer-events: none;
}
.active .delete_user_modal > img{
	animation-name: fadeIn;
	animation-duration: 0.9s;
	animation-timing-function: ease-out;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
@media screen and (max-width: 840px) {
	#scrollbar_cnt{
		min-height: 1004px;
	}
	.table_item{
		font-size: 0.7rem;
		font-weight: 400;
	}
	.table{
		td, th{
			border: 0;
			padding: 0.5rem  0.4rem;
		}
	}   
	.table_item{
		font-weight: 600;
		&__badge{
			height: 22px;
			min-width: 22px;
		}
	}
}
@media screen and (max-width: 600px) {
	#scrollbar_cnt{
		min-height: 871px;
	}
	.table{
		td, th{
			font-weight: 400;
			padding: 0.3rem;
		}
	}
	th{
		font-size: 0.8rem;
	}
}
</style>
