<template>
	<ul class="pagination">
		<li v-for="i in totalPages" v-bind:key="i">
			<a @click="goToPage(i)" class="btn btn-primary btn-action btn-sm m-1" :class="i == currentPage ? 'btn-error' : ''">{{i}}</a>
		</li>
	</ul>
</template>
<script>
	import { mapState } from 'vuex'
	import { mapMutations } from 'vuex'
	import jump from 'jump.js'

	export default{
		name: 'Pagination',
		props: ['currentPage', 'totalPages', 'sortingType'],
		computed:{
			...mapState([
				'page'
			]),
		},
		methods: {
			...mapMutations(['definePage']),
			goToPage(pageNum){
				this.$parent.doFetch(`https://api.potatosites.com/clients/${pageNum}/${this.sortingType}`)
				this.definePage(pageNum)
				let top = document.getElementById('nav')
				if(top){
					jump(top, {
						duration: 1200
					})
				}
			}
		}
	}
</script>
<style scoped lang="scss">
.pagination{
	padding: 0;
	margin: 0;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	list-style: none;
	font-weight: bold;

	li > a{
		transition: all 0.6s ease-out; 
	}
}
</style>