<template>
	<div class="modal" id="update_user_modal">
		<a href="#close" class="modal-overlay" aria-label="Close" @click.prevent="openCloseModal"></a>
		<div class="modal-container update_user_modal p-relative">
			<img :src="require('@/assets/stick.png')">
			<div class="modal-header">
				<a href="#close" class="btn btn-clear float-right" aria-label="Close"  @click.prevent="openCloseModal"></a>
				<div class="modal-title"><h3>Update user</h3></div>
			</div>
			<div class="modal-body" id="client_scroll_bar">
				<div class="content">
					<form class="form-horizontal add_user_form" @submit.prevent="updateUser">
						<div class="form-group">
							<div class="col-3 col-md-12">
								<label class="form-label" for="nickname">Nickname</label>
							</div>
							<div class="col-9 col-md-12">
								<input class="form-input" type="text" name="nickname" placeholder="Nickname" v-model="userData.nickname" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-md-12">
								<label class="form-label" for="email">Email</label>
							</div>
							<div class="col-9 col-md-12">
								<input class="form-input" type="Email" name="email" placeholder="Email" v-model="userData.email" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-3 col-md-12">
								<label class="form-label" for="ballance">Ballance:</label>
							</div>
							<div class="col-9 col-md-12">
								<input class="form-input" type="number" name="ballance" min="0" max="99999999999" step="0.0001" v-model="userData.ballance" required>
							</div>
							<input type="hidden" v-model="clientId" name="id">
						</div>
						<div class="form-group text-right submit_cnt">
							<button type="submit" class="btn btn-primary" v-bind:class="{'loading': loadingBtn}">Update user</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'


export default {
	name: 'UpdateClientModal',
	props: ['clientId', 'clientEmail', 'clientNick', 'clientBal'],
	data(){
		return {
			loadingBtn: false,
			clientScrollBar: null
		}
	},
	computed: {
		...mapState([
			'loggedIn',
			'token',
			'page'
		]),
		userData(){
			return{
				nickname: this.clientNick,
				email: this.clientEmail,
				ballance: this.clientBal,
				id: this.clientId
			}
		}
	},
	methods: {
		async updateUser(){	
			this.loadingBtn = !this.loadingBtn
			const url = 'https://api.potatosites.com/update/client'
			this.userData.nickname = this.userData.nickname.trim()
			this.userData.email = this.userData.email.toLowerCase().trim()
			let options = {
					method: 'PUT',
					headers: {
						'Authorization': 'Bearer ' + this.token,
						'Content-type': 'application/json'
					},
					body: JSON.stringify(this.userData)
				},
				req = new Request(url, options),
				response
			try {
				response = await fetch(req)
				if(response.ok){
					response = await response.json()
					this.$parent.doFetch(`https://api.potatosites.com/clients/${this.page}/new`)
					if(response.st) this.$toast.success(response.st)
					if(response.error) this.$toast.error(response.error)
				}
				if(response.status == 401){
					this.$toast.error('Only authorized users can update clients')
				} 
				this.toggleBtnLoader()
			}catch(e){
				this.$toast.error(e.message)
				this.toggleBtnLoader()
			}
		},
		openCloseModal(){
			this.$parent.openCloseModal('update_user_modal')
		},
		showHideError(){
			//show hide capcha error message start
			if(this.verify === false){
				this.$refs.catch_message.classList.add('fill_capcha')
			}else{
				this.$refs.catch_message.classList.remove('fill_capcha')
			}
			//show hide capcha error message end
		},
		toggleBtnLoader(){
			setTimeout(() => {
				this.loadingBtn = !this.loadingBtn
				document.getElementById('update_user_modal').classList.toggle('active')
			}, 250)	
		}
	}
}
</script>
<style scoped lang="scss">
#client_scroll_bar{
	margin-bottom: 0.5rem;
}
#update_user_modal .form-label{
	color: darken($dark-gray, 8);
}
.update_user_modal{
	overflow: hidden;
	padding: 0 0.4rem;
	> img{
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -10;
		pointer-events: none;
	}
}
.active .update_user_modal > img{
	animation-name: fadeIn;
	animation-duration: 0.9s;
	animation-timing-function: ease-out;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}
</style>