<template>
  <svg
    class="icon icon-sign-in"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="tiny"
    version="1.2"
    viewBox="0 0 24 28"
    :width="width"
    :height="width"
  >
  
    <title>sign-in</title>
    <path d="M18.5 14c0 0.266-0.109 0.516-0.297 0.703l-8.5 8.5c-0.187 0.187-0.438 0.297-0.703 0.297-0.547 0-1-0.453-1-1v-4.5h-7c-0.547 0-1-0.453-1-1v-6c0-0.547 0.453-1 1-1h7v-4.5c0-0.547 0.453-1 1-1 0.266 0 0.516 0.109 0.703 0.297l8.5 8.5c0.187 0.187 0.297 0.438 0.297 0.703zM24 8.5v11c0 2.484-2.016 4.5-4.5 4.5h-5c-0.266 0-0.5-0.234-0.5-0.5 0-0.438-0.203-1.5 0.5-1.5h5c1.375 0 2.5-1.125 2.5-2.5v-11c0-1.375-1.125-2.5-2.5-2.5h-4.5c-0.391 0-1 0.078-1-0.5 0-0.438-0.203-1.5 0.5-1.5h5c2.484 0 4.5 2.016 4.5 4.5z"></path>

  </svg>
</template>

<script>
export default {
  name: 'log',
  props: {
    width: {
      type: Number,
      default: 50,
      required: false
    }
  }
}
</script>