<template>
  <svg
    class="icon icon-user-add"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="tiny"
    version="1.2"
    viewBox="0 0 24 24"
    :width="width"
    :height="width"
  >
	<title>user-add</title>
	<path d="M9 14c1.381 0 2.631-0.56 3.536-1.465 0.904-0.904 1.464-2.154 1.464-3.535s-0.56-2.631-1.464-3.535c-0.905-0.905-2.155-1.465-3.536-1.465s-2.631 0.56-3.536 1.465c-0.904 0.904-1.464 2.154-1.464 3.535s0.56 2.631 1.464 3.535c0.905 0.905 2.155 1.465 3.536 1.465z"></path>
	<path d="M9 21c3.518 0 6-1 6-2 0-2-2.354-4-6-4-3.75 0-6 2-6 4 0 1 2.25 2 6 2z"></path>
	<path d="M21 12h-2v-2c0-0.553-0.447-1-1-1s-1 0.447-1 1v2h-2c-0.553 0-1 0.447-1 1s0.447 1 1 1h2v2c0 0.553 0.447 1 1 1s1-0.447 1-1v-2h2c0.553 0 1-0.447 1-1s-0.447-1-1-1z"></path>
  </svg>
</template>

<script>
export default {
  name: 'plusUser',
  props: {
    width: {
      type: Number,
      default: 50,
      required: false
    }
  }
}
</script>
