<template>
  <svg
    class="icon icon-user-add"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="tiny"
    version="1.2"
    viewBox="0 0 24 24"
    :width="width"
    :height="width"
  >
    <title>plus</title>
    <path d="M18 10h-4v-4c0-1.104-0.896-2-2-2s-2 0.896-2 2l0.071 4h-4.071c-1.104 0-2 0.896-2 2s0.896 2 2 2l4.071-0.071-0.071 4.071c0 1.104 0.896 2 2 2s2-0.896 2-2v-4.071l4 0.071c1.104 0 2-0.896 2-2s-0.896-2-2-2z"></path>
  </svg>
</template>

<script>
export default {
  name: 'plus',
  props: {
    width: {
      type: Number,
      default: 50,
      required: false
    }
  }
}
</script>