<template>
  <svg
    class="icon device-desktop"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="tiny"
    version="1.2"
    viewBox="0 0 24 24"
    :width="width"
    :height="width"
  >

  <title>open_in_browser</title>
  <path d="M12 9.984l3.984 4.031h-3v6h-1.969v-6h-3zM18.984 3.984q0.844 0 1.43 0.586t0.586 1.43v12q0 0.797-0.609 1.406t-1.406 0.609h-3.984v-2.016h3.984v-9.984h-13.969v9.984h3.984v2.016h-3.984q-0.844 0-1.43-0.586t-0.586-1.43v-12q0-0.844 0.586-1.43t1.43-0.586h13.969z"></path>

  </svg>
</template>

<script>
export default {
  name: 'singUpIcon',
  props: {
    width: {
      type: Number,
      default: 50,
      required: false
    }
  }
}
</script>