<template>
  <svg
    class="icon icon-refresh"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="tiny"
    version="1.2"
    viewBox="0 0 24 24"
    :width="width"
    :height="width"
  >
  
    <title>arrow-sync</title>
    <path d="M19.5 12.473c0-1.948-0.618-3.397-2.066-4.844-0.391-0.39-1.023-0.39-1.414 0-0.391 0.391-0.391 1.024 0 1.415 1.079 1.078 1.48 2.007 1.48 3.429 0 1.469-0.572 2.85-1.611 3.888-1.004 1.003-2.078 1.502-3.428 1.593l1.246-1.247c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0l-3.707 3.707 3.707 3.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-1.337-1.336c1.923-0.082 3.542-0.792 4.933-2.181 1.417-1.416 2.197-3.299 2.197-5.303z"></path>
    <path d="M6.5 12.5c0-1.469 0.572-2.85 1.611-3.889 1.009-1.009 2.092-1.508 3.457-1.594l-1.275 1.275c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.196 0.451 0.294 0.707 0.294s0.512-0.098 0.707-0.293l3.707-3.707-3.707-3.707c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l1.311 1.311c-1.914 0.086-3.525 0.796-4.907 2.179-1.417 1.416-2.197 3.299-2.197 5.303 0 1.948 0.618 3.397 2.066 4.844 0.195 0.195 0.451 0.292 0.707 0.292s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.024 0-1.415-1.079-1.077-1.48-2.006-1.48-3.428z"></path>

  </svg>
</template>

<script>
export default {
  name: 'update',
  props: {
    width: {
      type: Number,
      default: 50,
      required: false
    }
  }
}
</script>