<template>
  <svg
    class="icon icon-user"
    xmlns="http://www.w3.org/2000/svg"
    baseProfile="tiny"
    version="1.2"
    viewBox="0 0 24 24"
    :width="width"
    :height="width"
  >

    <title>user</title>
    <path d="M17 9c0-1.381-0.56-2.631-1.464-3.535s-2.155-1.465-3.536-1.465-2.631 0.56-3.536 1.465c-0.904 0.904-1.464 2.154-1.464 3.535s0.56 2.631 1.464 3.535c0.905 0.905 2.155 1.465 3.536 1.465s2.631-0.56 3.536-1.465c0.904-0.904 1.464-2.154 1.464-3.535z"></path>
    <path d="M6 19c0 1 2.25 2 6 2 3.518 0 6-1 6-2 0-2-2.354-4-6-4-3.75 0-6 2-6 4z"></path>

  </svg>
</template>

<script>
export default {
  name: 'user',
  props: {
    width: {
      type: Number,
      default: 50,
      required: false
    }
  }
}
</script>