<template>
	<div id="app" >
		<div id="nav">
			<div class="container grid-xl">
				<div class="columns">
					<div class="column col-12 navigation p-relative">
						<router-link to="/" title="Clients" class="logo_link">
							<img alt="logo" :src="require('@/assets/logo.png')">
						</router-link>
						<div class="navigation__list">
							<transition name="slide" appear>
								<div v-if="!loggedIn" :key="1">
									<router-link to="/login" class="btn btn-error btn-sm"><log :width="24"/></router-link> 
									<router-link to="/singup" class="btn btn-error btn-sm">
										<singUpIcon :width="24"/></router-link>
								</div>
								<div v-else :key="2">
									<span class="greetings">Hello, {{username}}</span>
									<a href="#" @click.prevent="logout" class="btn btn-primary btn-sm"><signout :width="24"/></a>
								</div>
							</transition>
						</div>
						
						<div class="navigation__list">
							<router-link to="/" class="btn btn-primary btn-sm"><user :width="24"/></router-link>
							<router-link to="/addnew" class="btn btn-primary btn-sm" title="Add new client"><plusUser :width="24"/></router-link> 
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container grid-xl">
			<div class="columns">
				<router-view/>
			</div>
		</div>
		<footer class="footer text-center"><a href="https://potatosites.com/">potatosites.com</a></footer>
	</div>
</template>
<script>
	import { mapState, mapMutations, mapActions } from 'vuex'
	import user from './components/icons/user.vue'
	import plusUser from './components/icons/plusUser.vue'
	import log from './components/icons/log.vue'
	import signout from './components/icons/signout.vue'
	import singUpIcon from './components/icons/singUpIcon.vue'

	export default {
		computed: mapState([
			'loggedIn',
			'username',
			'tokenexpiration',
			'token',
			'curTimeStamp'
		]),
		components: {
			user,
			plusUser,
			log,
			signout,
			singUpIcon
		},
		methods: {
			...mapMutations({logOutUser: 'reset'}),
			...mapActions(['checkToken']),
			logout(){
				this.logOutUser()
				localStorage.clear()
				if(this.$router.currentRoute.path != '/') this.$router.push("/")
				this.$toast.default(`Goodbuy!`)
			}
		},
		created(){
			// check if token is already expired
			this.checkToken()
		},
		updated(){
			// check if token is already expired
			this.checkToken()
		},
		watch: {
			loggedIn(newVal, oldVal){
				if(newVal != oldVal){
					if(newVal === true) this.$toast.default(`Hello, ${this.username}!`, {duration: 1500})
				}
			}	
		}
	}
</script>
<style lang="scss">
body{
	background-color: $dark-gray;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-image: url(assets/bg2.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	*::-moz-selection{
		color: $dark-gray;
		background-color: #41b883;
		color: black;
		text-shadow: none;
	} 
	*::selection{
		color: $dark-gray;
		background-color: #41b883;
		color: black;
		text-shadow: none;
	}
}
a, a:focus, a:hover{
	text-decoration: none;
}
#app{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	padding-bottom: 104px;
	position: relative;
}
#nav{
	padding: 16px 0;
	background-color: darken($dark-gray, 4);
	margin-bottom: 2rem;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 7px -1px;
	.navigation{
		> a{
			font-weight: bold;
		}
	}
}
.img_cnt{
	display: flex;
	justify-content: center;
	>a{
		display: inline-block;
	}
}
.logo_link{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	img{
		display: block;
		width: 48px;
	}
}
.navigation{
	display: flex;
	justify-content: space-between;
	&__list{
		span{
			margin-right: 5px;
		}
		div > a, a{
			white-space: nowrap;
			padding: 0.3rem 0.5rem;
			margin: 5px;
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	
}
.btn.btn-sm.router-link-exact-active{
	color: lighten($dark-gray, 4);
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.submit_cnt{
	display: flex;
	justify-content: flex-end;
}
#scrollbar_cnt, #client_scroll_bar, #remove_user{
	.scrollbar-track{
		background: none;
	}
	.scrollbar-thumb{
		background: $green;
	}
}

//transition animations start
.slide-enter-active, .slide-leave-active{
	transition: all 0.6s $timing_f;
	position: absolute;
}
.slide-enter{
	transform: translate3d(0, -100%, 0);
	opacity: 0;
}
.slide-leave-to{
	transform: perspective(500px) translate3d(0, 100%, -150px);
	opacity: 0;
}
// modals
.modal.active .modal-overlay, .modal:target .modal-overlay{
	background-color: rgba(darken($dark-gray, 8), 0.95);
}
.modal:target .modal-container, .modal.active .modal-container{
	animation-duration: 0.6s;
	animation-timing-function: $timing_f;
}
.icon{
	display: inline-block;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	pointer-events: none;
	position: relative;
	z-index: 50;
}
.leaves{
	width: 50px;
	height: auto;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.footer{
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 2rem;
	>a{
		transition: color 0.2s $timing_f;
		color: $gray;
		&:visited{
			color: $gray;
		}
		&:focus{
			box-shadow: none;
		}
		&:hover{
			color: white;
		}
	}
}
@media screen and (max-width: 600px){
	.navigation{
		padding: 0 10px;
	}
	.greetings{
		font-size: 0.6rem;
	}
}
@media screen and (max-width: 500px){
	#nav{
		padding: 20px 0;
	}
}

@keyframes fadeIn{
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
</style>
